.home-page{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f4f4f4;
}
.container-home{
    margin: 20px;
    width: 90%;
}
.container-home h2{
    width: 240px;
}

.container-home h2:hover{
    color: #07a044;
}