.cardHome {
  background-color: white;
  height: 300px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 3px rgba(0, 0, 0, 0.06);
  padding: 10px;
  border-radius: 15px;
}

.cardHome .cardImg {
  margin-bottom: 10px;
}

.cardHome .cardImg img {
  height: 100%;
  width: 60px;
  border-radius: 10px;
}

.cardHome .cardInfor {
  display: flex;
  justify-content: space-around;
}

.cardHome .cardInfor .cardName{
  width: 130px;
  text-align: left;
  text-overflow: ellipsis; 
  overflow: hidden; 
}