.detail-page {
  width: 1100px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
}

.detail-page .title {
  font-size: xx-large;
  padding: 20px 0;
}

.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: left;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

.detail .detail-img {
  position: relative;
}
.detail .detail-img img {
  width: 100%;
  margin: 20px;
}

.detail .detail-content {
  width: 95%;
  display: block;
  unicode-bidi: isolate;
}

.detail .detail-content .name {
  font-size: xxx-large;
  padding: 0;
  margin: 0 0 10px 0;
}

.detail .detail-content .price,
.detail .detail-content .full-name {
  font-size: x-large;
  letter-spacing: 7px;
  margin-bottom: 15px;
}

.detail .detail-content .price{
  font-size: large;
}

.detail .detail-content .detail-buttons {
  margin-bottom: 20px;
}

.detail .detail-content .detail-buttons button {
  width: 100%;
  background-color: #dcd2d2;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  font-family: Poppins;
  font-size: large;
  cursor: pointer;
}

.detail .detail-content .detail-buttons button:hover {
  background-color: #c1908a;
  color: white;
}

.detail .detail-content .description {
  font-weight: 300;
  margin-bottom: 15px;
}

.detail-page .more-services {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
}
